.home {
  width: 1300px;
  padding: 40px 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .home {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.create {
  width: 300px;
  padding: 15px 15px 25px;
  border-radius: 7px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create h3,
.create h3 b {
  font-size: 21px;
  font-weight: 600;
  line-height: 45px;
  border-bottom: solid 2px #fff;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.create h3 b {
  border-bottom-color: #D62246;
}
.create input {
  width: 90%;
  height: 40px;
  border-bottom: solid 1px #cecece;
  padding: 5px 15px;
  margin: 7px 0;
  font-weight: 600;
}
.create button {
  width: 90%;
  height: 40px;
  margin-top: 20px;
  background-color: #D62246;
  color: #dbdbdb;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.create button i {
  font-size: 21px;
  margin-right: 5px;
}
.create button:hover {
  filter: brightness(115%);
}

@media (max-width: 800px) {
  .create {
    width: 90%;
  }
  .create button {
    height: 50px;
  }
}

.list {
  width: 900px;
  padding: 15px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.list .filter {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .pagination button {
  width: 35px;
  height: 35px;
  background-color: #D62246;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s;
}
.filter .pagination button:nth-child(1) {
  margin-right: 10px;
}
.filter .pagination button:nth-child(3) {
  margin-left: 10px;
}
.filter .pagination button:hover {
  filter: brightness(110%);
}
.filter .pagination label,
.filter .pagination label b {
  font-size: 18px;
}
.filter .limitation {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.filter .limitation input {
  background-color: #fff;
  height: 40px;
  width: 60px;
  margin: 0 7px;
  text-align: center;
  font-weight: bold;
  color: #D62246;
  font-size: 15px;
  border-radius: 5px;
}
.filter .limitation input:nth-child(1) {
  border-bottom: solid 2px #D62246;
}

@media (max-width: 800px) {
  .list {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}

.item {
  border-right: solid 2px #9b9b9b;
  width: 45%;
  margin: 12px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
}
.item img {
  width: 100px;
  border-radius: 50%;
  margin-right: 15px;
}
.item .data {
  display: flex;
  flex-direction: column;
}
.item .data h3 {
  font-size: 17px;
  font-weight: 600;
}
.item .data a {
  text-decoration: none;
  color: #636363;
}

@media (max-width: 800px) {
  .item {
    width: 100%;
    justify-content: center;
    padding: 35px 0;
    margin: 10px 0;
    border-right-width: 0;
  }
  .item .data {
    width: 100%;
    margin-top: 12px;
    align-items: center;
  }
}